@import "../../vars.css";
.navbar {
    position: relative;            
    display: flex;                  
    align-items: center;           
    justify-content: space-between;
    padding-top: 61px;              
    z-index: 2;                     
    margin: 0 10%;                  
}
.title {
    font-size: 30px;         /* Cỡ chữ lớn */
    font-weight: 600;        /* Độ đậm của chữ (600 = semi-bold) */
    text-decoration: none;   /* Bỏ gạch chân (thường áp dụng với thẻ <a>) */
    color: var(--color-text);/* Màu chữ lấy từ biến CSS */
}

.menu{
    display: flex; /* Sắp xếp các item con theo chiều ngang */
}

.menuItems {
    display: flex;       /* Hiển thị các mục menu trên cùng một hàng */
    gap: 47px;           /* Khoảng cách giữa các mục */
    list-style: none;    /* Bỏ dấu chấm mặc định của danh sách */
}

.menuItems a {
    font-size: 25px;              /* Cỡ chữ cho link */
    color: var(--color-text);     /* Màu chữ từ biến */
    text-decoration: none;        /* Bỏ gạch chân */
}

@media screen and (max-width: 830px) {
    .navbar {
        flex-direction: column; /* Sắp xếp các mục theo chiều dọc */
        align-items: flex-start; /* Căn chỉnh các mục về bên trái */
    }
    .menu {
        position: absolute; /* Đặt menu ở vị trí tuyệt đối */
        right: 0; /* Căn chỉnh menu về bên phải */
        margin-right: 10%; /* Khoảng cách từ bên phải */
        flex-direction: column; /* Sắp xếp menu theo chiều dọc */
        align-items: flex-end; /* Căn chỉnh các mục menu về bên phải */
        gap: 11px; /* Khoảng cách giữa các mục menu */
        z-index: 3; /* Đảm bảo menu nằm trên các thành phần khác */
    }
    .menuBtn{
        display: block; /* Hiển thị nút menu */
        cursor: pointer; /* Hiển thị con trỏ chuột dạng tay khi hover */
    }

    .menuItems{
        display: none; /* Ẩn các mục menu mặc định */
        flex-direction: column; /* Sắp xếp các mục menu theo chiều dọc */
        align-items: center; /* Căn chỉnh các mục menu về giua */
        gap : 13px;
        border-radius: 10px; /* Bo góc menu */
        background-color: rgb(25, 55 ,109); /* Màu nền của menu */
        background: linear-gradient(
            0deg,
            rgba(25, 55, 109, 0.2) 0%, /* Hiệu ứng gradient cho nền menu */
            rgba(25, 55, 109, 1) 100%
        ); /* Hiệu ứng gradient cho nền menu */
        padding: 24px 33px; /* Padding cho menu */
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25); /* Hiệu ứng bóng đổ cho menu */
    }

    .menuOpen{
        display: flex; /* Hiển thị menu khi mở */
        z-index: 1; /* Đảm bảo menu nằm trên các thành phần khác */
    }
}

    